@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

* {
    box-sizing: border-box; 
   
  }
html {
    flex-wrap: wrap; 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
  }
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; 
    flex: 1 2 0;
    flex-wrap: wrap; 
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
   
    
}

#head,  
#footer {
   
    flex-wrap: wrap; 
    width: 550px;
    flex: 1 1 0%;
    font-family: Silkscreen;
    height: fit-content;

}

#head {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    padding: 0;
    color: yellow;
    text-shadow: 0px 0px 9px yellow;
    border-radius: 30px;
    flex-wrap: wrap; 
   
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 2 1 0%;
    background-color: black;
    flex-wrap: wrap; 
    border-radius: 30px;
    width: 1330px;
    margin-top: 0;
    margin-bottom: 0px;
    padding-bottom: 0px;
    box-shadow: 0px 0px 500px blueviolet;
}

#middle #score,
#middle #game {
    flex: 1 1 0%;
/*     flex-wrap: wrap;  */
}

#score {
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Silkscreen;
    background-color: black;
    color: blueviolet;
    /* border: 2px blueviolet dotted;  */
    box-shadow: 0px 0px 9px yellow;
    border-radius: 9px;
    margin: 20px;
    flex-direction:column;
    padding: 2px;
    
}

#displayContainer {
    
    display: flex;
    margin: 0;
    padding: 0;
    flex: auto;
    width: 545px;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
    
#displayContainer .scorePlayer,
#displayContainer  .scorePc,
#displayContainer  h2 {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

}

#movesDisplay {
   
    border-radius: 80px;
    flex: auto;
    width: 505px;
    padding: 0;
    margin: 0;
    display: flex;
}


#movesDisplay div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    flex: auto;
   
}

.playerGame,
.pcGame {
    display: flex;
    flex-direction: column;
}



#game {
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0%;    
    gap: 110px;
  
    font-family: Shadows Into Light;
}

#game button {
    background-color: black;
    border: 0;
    border-radius: 10px;
    flex-wrap: wrap; 
    
}

#game button:hover { 
    box-shadow: 1px 1px 9px rgb(0, 0, 0);  
    transform: scale(1.1);
    border: 0px;
    cursor: pointer;
}

#game button:active {
    box-shadow: 1px 1px 9px yellow;  
    transform: scale(0.99);
}

#footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 0; 
    padding-bottom: 0;
    padding-top: 2px;
    font-family: Shadows Into Light;
    text-shadow: 0px 0px 9.9px yellow;
    color: yellow;
     flex-wrap: wrap; 
}

#buttonName {
    text-align: center;
    color: yellow;
}

#middle .events {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    font-family: Silkscreen;
    text-align: center;
    flex: 1;
    color: blueviolet;
}

.playerCounter,
.pcCounter {
    border: 3px blueviolet solid;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}
