@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

* {
    box-sizing: border-box; 
}

html {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 100vh;
}

body {
    flex: 1;
    display: flex;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;
    background-color: black;
    height: 70vh;
}

body #left,
body #right {
    flex: 1;
    overflow: hidden;
}

body #center {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    gap: 20px;
}

#center #head {
    font-family: Silkscreen;
    display: flex;
    flex: 1;
    align-items: center;
    color: yellow;
    text-shadow: 0px 0px 10px yellow;
}

#center #footer {
    font-family: Shadows Into Light;
    display: flex;
    flex: 1;
    align-items: center;
    color: yellow;
    text-shadow: 0px 0px 10px yellow;
}

#center #middleLayer {
    border-radius: 43px;
    box-shadow: 0px 0px 1000px blueviolet;
}

#center #middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 40px;
    background-color: black;
    width: 550px;
    height: 550px;
    padding: 40px;
    gap: 20px;   
    box-shadow: inset 0px 0px 20px blueviolet;
}

#middle #game {
    display: flex;
    color: yellow;
    font-family: Shadows Into Light;
    gap: 5px;
}

#middle #results {
    display: flex;
    color: blueviolet;
    font-family: Silkscreen;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn img {
    width: 60px;
    height: 60px;
    }

#middle #score {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 245px;
    padding: 10px;
    background-color: black;
    color: blueviolet;
    font-family: Silkscreen;
    gap: 10px;
    border-radius: 16px;
    box-shadow: 0px 0px 5px yellow;
}

#middle #game {
    display: flex;
    align-items: center;
    gap: 40px;
    height: 200px;
}

#middle #results {
    height: 60px;
}

#score #displayContainer {
    display: flex;
    gap: 45px;
}

#score #movesDisplay {
    display: flex;
    gap: 85px;
}

.playerGame,
.pcGame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.playerGame #playerChoiceDisplay,
.pcGame #pcChoiceDisplay{
    width: 75px;
    height: 75px;
}

.scorePlayer,
.scorePc {
    display: flex;  
    gap: 40px;
}

.scorePlayer .playerCounter,
.scorePc .pcCounter {
    box-shadow: inset 0px 0px 6px blueviolet;
    border-radius: 4px;
    width: 30px;
}

.scorePlayer .playerCounter,
.scorePc .pcCounter,
.scorePc p,
.scorePlayer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game .btn #WATER img,
#game .btn #EARTH img,
#game .btn #FIRE img,
#game .btn #AIR img {
    border-radius: 30px;
}

#game .btn #WATER img:hover,
#game .btn #EARTH img:hover,
#game .btn #FIRE img:hover,
#game .btn #AIR img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#game .btn {
    border: 0;
}

#game .btn #WATER,
#game .btn #EARTH,
#game .btn #FIRE,
#game .btn #AIR {
    background-color: black;
    border: 0;
    border-radius: 30px;
}
